

	<section id="top-nav" class="top-nav active">
		<div class="menu-right">
			<a  href="">Accueil</a>
			<a href="">Accueil</a>
			<a href="">Accueil</a>
		</div>
		<input id="menu-toggle" type="checkbox"/>
		<label class='menu-button-container' for="menu-toggle">
			<div class='menu-button'></div>
		</label>
		<div class="menu">
			{# <a href="">One</a>
			<a href="">Two</a>
			<a href="">Three</a> #}
			<a href="">Connexion</a>
			<a href="">Inscription</a>
		</div>
	</section>



