@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';
body{
    background-color: rgb(243, 237, 235);
}
// header-bg: 
.header-bg{
    background-color:#080a1a !important;
}
// burger menu : @import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
    vertical-align: center;
    text-align: center;
  }
  
  html, body {
    margin: 0;
    height: 100%;

  }
  
  * {
    font-family: "Raleway";
    box-sizing: border-box;
  }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    // background: linear-gradient(to left, #f46b45, #eea849);
    background-color:#080a1a !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
 a {
    color : white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
  #top-nav:hover a{
    color :rgb(185, 238, 186);
  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
//   menu right 
.menu-right >a {
    margin: 0 0.5rem;
}
  
  .menu > a {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
      
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu a {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu a {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > a {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > a:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
//   end burger menu scss
// footer : 
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

footer {
  box-sizing: border-box;
  position: relative;
  margin: 5px 0px 0px 0px;
  background-color:#080a1a;
  color: #ffffff;
  font-style: normal;
  padding:4px 0 10px;
  line-height:24px;
  font-family: 'Tajawal', sans-serif;
  word-break: normal;
  border-radius: 0px;
  box-shadow: 2px 6px 60px 20px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.row-footer {
  padding: 3px 20px 3px 20px;
}

.row-footer::after {
  content: "";
  clear: both;
  display: table;
}

hr {
  width: 50%;
  border: none;
  border-top: 0.1rem ridge rgba(100, 150, 173, 0.596);
}

@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');

.site-logo {
  float: left;
  width: 15%;
  padding: 10px;
}

.site-logo span {
  font-family: 'Oregano', cursive;
  font-size: 20px;
}

.main-nav {
  position: absolute;
  top: 40%;
  left: 6%;
  margin: 0;
  padding: 0;
  width: 100px;
  height: -1px;
  box-shadow: 2px 2px 60px 8px rgba(102, 98, 98, 0.5);
}

.main-nav li {
  list-style: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #000;
  transform: rotate(45deg);
  transition: 0.5s;
  margin: -30px;
  opacity: 0.5;
}

.main-nav li:hover {
  opacity: 1;
}

.main-nav li span {
  margin-left: 6.5px;
}

.main-nav li.item1 {
  top: 0;
  left: 0;
  color: #00a9c7;
}

.main-nav li.item2 {
  bottom: 0;
  left: 25%;
  color: red;
}

.main-nav li.item3 {
  top: 0;
  left: 50%;
  color: yellowgreen;
}

.main-nav li.item4 {
  bottom: 0;
  left: 75%;
  color: darkmagenta;
}

.site-links {
  float: left;
  width: 20%;
  padding: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.site-links span{
  font-family: 'Gruppo', cursive;
}

ul.list-links {
  list-style-type: none;
}

ul.list-links li {
  font-size: 14px;
  margin-left: -38px;
}

.adr-email {
  float: left;
  width: 28%;
  padding: 10px;
}

.adr-email span {
  font-family: 'Gruppo', cursive;
}

.adr-email ul {
  font-size: 14px;
  list-style-type: none;
  margin-left: -38px;
}

.location i {
  margin-right: 11px;
}

.email a {
  margin-left: 20px;
  text-decoration: none;
  color: aqua;
}
.email:hover a {
  color: #00a9c7;
}

.subscribe-form {
  float: left;
  margin-top: 50px;
}

.subscribe-form > input {
  width: 200px;
  background: rgba(0, 0, 0, 0.205);
  border-radius: 10px;
  border-color: #013942;
  color: gray;
  font-size: 14px;
  border: 0.1 ridge;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  outline: 0;
  padding: 6px 10px;
}

.subscribe-form > input:focus {
  border-color: #00a9c7;
  color: beige;
}

.subscribe-form > button {
  display: inline-block;
	background: #183d53;
	color: rgb(223, 254, 255);
	font-size: 14px;
  border-radius: 6px;
	border: 0.1 solid;
  border-color: #080a1a;
	outline: 0;
  margin-left: -14px;
  box-shadow: 2px 6px 10px 0 rgba(82, 82, 82, 0.1);
	padding: 3px 5px;
	transition: all 200ms ease-in;
	cursor: pointer;
}

.subscribe-form > button:hover {
  background-color: #151e50;
}

.subscribe-form > p {
  margin-left: 6px;
  font-size: 13px;
}

.follow-icons {
  display: flex;
  justify-content: center;
}

.follow-icons li {
  margin: 0 5px;
  list-style: none;
}

.follow-icons li i {
  font-size: 12px;
  font-weight: 0;
  color: #fff;
}
.follow-icons li span {
  padding-right: 6px;
}

.arrow {
  visibility: visible;
  padding-right: 15px;
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0%   {left: 0px;}
  25%  {left: 15px;}
  50%  {left: 0px}
  75%  {left: 15px;}
  100% {left: 0px;}
}

.right-dis {
  float: right;
}

.left-dis {
  float: left;
}

@media (max-width:900px)
{
  .subscribe-form {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  .subscribe-form > p {
    margin-left: -5px;
  }

  .site-logo {
    float: left;
    width: 28%;
    padding: 10px;
  }

  .main-nav {
    top: 30%;
    left: 12%;
  }

  .site-links {
    float: left;
    width: 20%;
    padding: 10px;
  }

  .adr-email{
    width: 35%;
  }

  .adr-email .email {
    font-size: 12px;
  }
}

@media (max-width:600px) {
  .right-dis {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .left-dis {
    width: 100%;
    text-align: center;
  }
}
// end footer 
// card 
/* Import font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/* Variables */
$black: #000;
$white: #fff;
$greyLight: #e1e3e5;
$greyMedium: #8a959e;
$greyDark: #323a45;
$purple: #9b59b6;
$orange: #ff6d3a;
$blue: #3498db;
$defaultTransition: all 250ms ease-in-out;

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* set rem text size and styling */
html {
	font-size: 62.5%;
}
// body {
// 	font-size: 18px;
// 	font-size: 1.8rem;
// }
// html,
// body {
// 	font-family: 'Open Sans', sans-serif;
// 	font-weight: 300;
// 	color: $greyDark;
// 	height: 100%;
// }

.cards {
	padding: 20px;
	max-width: 100vw;
	@media (min-width: 900px) {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}

	&__item {
		flex: 0 1 auto;
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		color: $greyDark;
		height: auto;
		text-align: left;
		text-decoration: none;
		border-top: 3px solid $purple;
		border-right: 1px solid $greyLight;
		border-bottom: 1px solid $greyLight;
		border-left: 1px solid $greyLight;
		padding: 40px 50px;
		margin: 20px;
		transition: $defaultTransition;
		width: auto;
		@media (min-width: 900px) {
			width: calc(100% / 3);
		}
		&:hover,
		&:focus {
			background: $purple;
			border-color: $purple;
			color: $white;
			outline: 0;
			.cards__date {
				color: rgba($white, 0.6);
			}
			.cards__title {
				color: $white;
			}
			.cards__more {
				color: $white;
				border-bottom: solid 1px rgba($white, 0.6);
			}
		}
		&:nth-of-type(2) {
			border-top: 3px solid $orange;
			&:hover,
			&:focus {
				background: $orange;
				border-color: $orange;
			}
		}
		&:nth-of-type(3) {
			border-top: 3px solid $blue;
			&:hover,
			&:focus {
				background: $blue;
				border-color: $blue;
			}
		}
	}

	&__date {
		display: block;
		color: $greyMedium;
		text-transform: uppercase;
		font-size: 1.2rem;
		line-height: 2.4rem;
		font-weight: 700;
		transition: $defaultTransition;
	}

	&__title {
		color: $greyDark;
		font-weight: 300;
		margin: 0 0 30px 0;
		transition: $defaultTransition;
		font-size: 2rem;
		line-height: 3rem;
		@media (min-width: 1200px) {
			font-size: 2.4rem;
			line-height: 3.5rem;
		}
	}

	&__more {
		margin-top: auto;
		color: $greyMedium;
		display: inline-block;
		border-bottom: 1px solid $greyLight;
		font-size: 1.4rem;
		line-height: 1.6rem;
		font-weight: 400;
		transition: $defaultTransition;
	}

}





// css fs-4
@media (min-width: 1200px){
.fs-4 {
    font-size: 3rem !important;
}
}
p{
  font-size: 15px;
}